body {
    background: #FFFFFF !important;
}

ul {
    padding: 0px !important;
    margin-bottom: 0px!important;
}

li {
    list-style: none;
}

a {
    text-decoration: none!important;
}

.example {
    outline: 0px dotted #333!important;
}

.container-fluid {
    margin: 0px!important;
    padding: 0px!important;
}
.side-nav{
    display: none;
}
.SideNav-category:hover + .side-nav{
    display: block;
}


.category_home {
    width: 95%;
    margin: auto;
    margin-top: 1%;
}

.category_flow {
    padding-left: 10px;
    color: #353535;
}

.category_sec_all-1 {
    display: flex;
}
.cotegories-name{
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px 20px 20px 20px;
}
.cotegories-name2>ul>a>li{
    padding: 5px;
    color: black !important;
}
.brandSec{
    margin-top: 40px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px 20px 20px 20px;
}

.Related_Categories_brand {
    width: 100%;
    height: 140px;
    color: #353535;
    overflow: auto;
    padding: 0px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.Related_Categories_service {
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    color: #353535;
    margin-top: 15px;
}

.Related_Categories_location {
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    color: #353535;
    margin-top: 15px;
}

.Related_Categories_brand>p {
    margin-bottom: 0%;
}

.Related_Categories_service>p {
    margin-bottom: 0%;
}

.Related_Categories_location>p {
    margin-bottom: 0%;
}

.Warranty_Type {
    width: 100%;
    margin-top: 15px;
}

.Warranty_Type>p {
    color: #353535;
}

.Warranty_period {
    width: 100%;
    margin-top: 15px;
    color: #353535;
}
.color_family{
    width: 100%;
    height: 150px;
    overflow: auto;
}
.color_family>p {
    color: #353535;
    margin-bottom: 0%;
}

.Related_Categories_brand>input:hover {
    color: #353535;
}

.priceSlider {
    margin-top:10px;
    width: 100%;
}

.priceSlider h1 {
    font-size: 15px;
    color: #4e4e4e;
}

.min-max label {
    font-size: 14px;
    float: left;
    margin-right: 5px;
    padding-top: 5px;
    line-height: 1;
}

.min {
    float: left;
    color: #4e4e4e;
}

.max {
    float: right;
    color: #4e4e4e;
}

.min-max {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}

.min-max span {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    width: 50px;
    /* border: 1px solid #363636; */
}

.min-max-range {
    padding: 30px 0px 20px 0px !important;
}

.range {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 50% !important;
    height: 1px !important;
    border-radius: 5% !important;
    background-color: #000000d5 !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: none !important;
    float: left !important;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #000000;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.range::moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #cccccc;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.filterBtn{
    color: #ffffff !important;
    background-color: #000000 !important;
    width: 100%;
    border-radius: 0% !important;
    margin-top: 2pc;
}

.filterBtn-text{
    font-size: medium;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 0px;
}


.category_name_sec{
    background-color: #F5F5F5;
}
.SortingNav{
    width: 100%;
}
.SortingBtn{
    width: 70%;
    background-color: white !important;
}
.fa-angle-down{
    font-size: 20px;
    color: black;
    z-index: 5;
}
.navSort{
    width: 60%;
    background-color: white !important;
}