@media only screen and (max-width: 1024px){
	.top-nav{
		display: none;
	}
	.top-middle{
		display: none;
	}
	.main-nav{
		display: none;
	}
	.sideNav-ul{
		display: none;
	}
	.top-icon>a>li {
    font-size: 20px;
    color: white;
}
.mobile-nav{
	display: flex!important;
}
.cententSec2-header>h3{
	font-size: 4vw;
}
.cententSec2-header>button{
	 margin-top:10px;
}
	/* ----allShop responsive---- */


	
}

@media only screen and (max-width:913px){
	.cententSec2-header>h3{
	font-size: 3vw;
}
/*	.cententSec2-header>button{
	 margin-top:10px;
}*/
}
@media only screen and (max-width: 540px){
	.cententSec2-header>button{
	 margin-top:0px;
}
}
@media only screen and (max-width: 420px){
	.cententSec2-header>button{
	 margin-top:0px;
}
}