@media only screen and (max-width: 1024px){
	.top-nav{
		display: none;
	}
	.top-middle{
		display: none;
	}
	.main-nav{
		display: none;
	}
	.sideNav-ul{
		display: none;
	}
	.top-icon>a>li {
    font-size: 20px;
    color: white;
}
.mobile-nav{
	display: flex!important;
}
.cententSec2-header>h3{
	font-size: 4vw;
}
.cententSec2-header>button{
	 margin-top:10px;
}

}

@media only screen and (max-width:913px){
	.cententSec2-header>h3{
	font-size: 3vw;
}
/*	.cententSec2-header>button{
	 margin-top:10px;
}*/
.fixed-footer{
	position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: white;
 
  display: block;
}
.bottom-icon {
	color: black;
	font-size: 30px;
}
}
@media only screen and (max-width: 545px){
	.cententSec2-header>button{
	 margin-top:0px;
}
.marquee>span{
	padding: 7px 5px!important;
}
}
@media only screen and (max-width: 420px){
	.cententSec2-header>button{
	 margin-top:0px;
}
.marquee>span{
	padding: 10px 5px!important;
	line-height: 1.3;
	font-size: 15px;
}
}